body
{
    padding-top: 50px;
}

.gspRound
{
    text-align: center;
}

h5
{
    text-align: center;
    font-size: 30px;
}
.gspInner
{
    text-align: center;
    font-size: 40px;
}
#gspRoundP
{
    font-style: italic;
    font-size: 25px;
}

.pokreni
{
    margin-bottom: 40px;
}